
<!-- Photo Grid -->
<div class="row">
    <div class="column">
        <%= image_tag  "wedding.jpg", class: "img_width" %>
        <%= image_tag  "rocks.jpg", class: "img_width" %>
        <%= image_tag  "falls2.jpg", class: "img_width" %>
        <%= image_tag  "paris.jpg", class: "img_width" %>
        <%= image_tag  "nature.jpg", class: "img_width" %>
        <%= image_tag  "mist.jpg", class: "img_width" %>
        <%= image_tag  "paris.jpg", class: "img_width" %>
    </div>
    <div class="column">
        <%= image_tag  "underwater.jpg", class: "img_width" %>
        <%= image_tag  "ocean.jpg", class: "img_width" %>
        <%= image_tag  "wedding.jpg", class: "img_width" %>
        <%= image_tag  "mountainskies.jpg", class: "img_width" %>
        <%= image_tag  "rocks.jpg", class: "img_width" %>
        <%= image_tag  "underwater.jpg", class: "img_width" %>
        <%= image_tag  "paris.jpg", class: "img_width" %>
    </div>
    <div class="column">
        <%= image_tag  "wedding.jpg", class: "img_width" %>
        <%= image_tag  "rocks.jpg", class: "img_width" %>
        <%= image_tag  "falls2.jpg", class: "img_width" %>
        <%= image_tag  "paris.jpg", class: "img_width" %>
        <%= image_tag  "nature.jpg", class: "img_width" %>
        <%= image_tag  "mist.jpg", class: "img_width" %>
        <%= image_tag  "paris.jpg", class: "img_width" %>
    </div>
    <div class="column">
        <%= image_tag  "underwater.jpg", class: "img_width" %>
        <%= image_tag  "ocean.jpg", class: "img_width" %>
        <%= image_tag  "wedding.jpg", class: "img_width" %>
        <%= image_tag  "mountainskies.jpg", class: "img_width" %>
        <%= image_tag  "rocks.jpg", class: "img_width" %>
        <%= image_tag  "underwater.jpg", class: "img_width" %>
        <%= image_tag  "paris.jpg", class: "img_width" %>
    </div>
</div>