<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

<style>
    /* * {
        box-sizing: border-box;
    } */

    /* force scrollbar */
    /* html {
        overflow-y: scroll;
    }

    body {
        font-family: sans-serif;
    } */

    /* ---- grid ---- */

    .grid {
        background: #DDD;
    }

    /* clear fix */
    .grid:after {
        content: '';
        display: block;
        clear: both;
    }

    /* ---- .grid-item ---- */

    .grid-sizer,
    .grid-item {
        width: 25%;
    }

    .grid-item {
        /* float: left; */
    }

    .grid-item img {
        display: block;
        max-width: 100%;
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
    }
</style>


<div class="grid">
    <div class="grid-sizer"></div>
    <div class="grid-item">
        <%= image_pack_tag "sonu_bike.jpg", class: "img-fluid" %>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "sonu_selfie.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "sonu1.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "sonutree.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "sonu1.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "rasmi.jpeg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "post_1.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "post_2.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "post_3.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "post_5.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "post_6.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "person_1.jpg", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "rasmi_yellow.jpg", alt: "Image", class: "img-fluid"%>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "rasmi_stand.jpg", class: "img-fluid" %>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "rasmi_mmi.jpg", class: "img-fluid" %>
    </div>
    <div class="grid-item">
        <%= image_pack_tag "priya.jpg", class: "img-fluid" %>
    </div>

</div>

<script>
    $(function() {
        //     // Masonry.init();
        // $('#masonry-container').masonry({
        //     itemSelector: '.box',
        //     // columnWidth: 100,
        //     gutterWidth: 1,
        //     gutterHeight: 1
        // });


        // var $grid = $('#masonry-container').imagesLoaded(function() {
        //     // init Masonry after all images have loaded
        //     $grid.masonry({
        //         // options...
        //     });
        // });

        // external js: masonry.pkgd.js, imagesloaded.pkgd.js

        // init Masonry
        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            percentPosition: true,
            columnWidth: '.grid-sizer',
            gutterWidth: 1,
            gutterHeight: 1
        });
        // layout Masonry after each image loads
        // $grid.imagesLoaded().progress(function() {
        //     $grid.masonry();
        // });

    });
</script>